#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.btns-container {
  font-size: 14px;
  display: flex;
  gap: 1rem;
}

.input {
  width: 70%;
}